html{
  background-color: linen;
  text-align: center;
}

h1{
  text-align: center;
  padding-bottom: 40px;
}
h2{
  text-align: center;
  margin-bottom: 0;
}
h3, h4{
  margin: 0;
  width: 150px;
  color: white;
  background-color: black;
  font-size: x-large;
}

h4{
  height: 150px;
  font-size: 48px;
  padding-top: 50px;
  margin-bottom: 50px;
}

.button-container{
  display: flex;
  justify-content: space-around;
}

button{
  flex: 0 0 100px;
  padding: 3px 8px;
  height: 100px;
}

.scoreboard{
  display: flex;
  flex-direction: column;
  margin:25px;
  border: 4px ridge gray;
  
}

.labels-scoreboard{
  display: flex;
  justify-content: space-evenly;
}